/* CSS in index.css */

/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set up general styling */
body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f; /* Dark background */
    color: #ddd; /* Light grey text */
    padding-top: 60px; /* Add padding to body to avoid hiding content under navbar */
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Navigation bar styles */
.navbar {
    list-style-type: none;
    background-color: #333; /* Dark grey background */
    overflow: hidden;
    text-align: center; /* Center the navigation items */
    padding: 0; /* Remove default padding */
}

.navbar li {
    display: inline-block; /* Display navigation items inline */
    margin: 0 10px; /* Add spacing between menu items */
}

.navbar li a {
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555; /* Darker grey on hover */
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
}

/* Hide the navbar initially when scrolled */
.navbar.scroll {
    top: -60px; /* Move navbar above the viewport */
}

/* Show the navbar with transition */
.navbar.scroll .navbar-content {
    top: 0;
    transition: top 0.3s ease;
}

.navbar-content {
    position: fixed;
    top: -60px;
    width: 100%;
    background-color: #333;
    transition: top 0.3s ease;
    z-index: 1000; /* Ensure the navbar is on top */
}

.navbar-content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-content li {
    display: block;
    text-align: center;
}

.navbar-content li a {
    display: block;
    color: #ddd;
    padding: 14px 16px;
    text-decoration: none;
}

/* Media query for the hamburger menu */
@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .navbar.scroll ul {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navbar.responsive .navbar-content {
        display: none;
    }

    .navbar.responsive .navbar-content ul {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .navbar.responsive .navbar-content ul li {
        display: block;
        margin: 0;
    }

    .navbar.responsive .navbar-content ul li a {
        display: block;
        padding: 14px 16px;
        color: #ddd;
        text-decoration: none;
    }
}